.about {
  text-align: center;
  color: white;

  .personsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .person {
      width: 95%;
      padding-bottom: 30px;

      figure {
        margin: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}