header, nav, main, aside	{
	display: block;
	width: 100%;
}

header	{
	position: relative;
	display: flex;
	justify-content: space-around;
}

header::before {
	content: "";
	background: url(../media/parkki-1.jpg) center;
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.30;
}

header h1	{
	position: relative;
	margin: 0;
	color: #FFFFFF;
	padding: 50px 0 50px;
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

main	{
	margin: 0;
}

section	{
	display: block;
	background: #4a6fd3;
	margin: 30px 0px 30px;
	overflow: hidden;
	border: solid 1px #000000;
	border-radius: 6px;
}	

form	{
	margin: 30px 30% 30px;
}

iframe	{
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
	border-style: none;
	border-width: 0;
}

figure	{
	margin: 60px 0 60px 0;
}

li	{
	font-family: 'Nunito', sans-serif;
	list-style-type: none;
}

h2	{
	position: relative;
	color: #ffffff;
	background: #2849a4;
	text-align: center;
	width: 100%;
	padding: 12px 0px 12px;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

figcaption {
	color: #FFFFFF;
	width: 100%;
	margin: 8px 0px 0px 0px;
	text-align: center;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
}

p	{
	color: #FFFFFF;
}

div	{
	display: block;
}



/*--Classes and id:s--*/

#container	{
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	background: #061a40;
	font-family: inherit;
	word-wrap: break-word;
	width: 100%;
	max-width: 400px;
	margin: auto;
	border: solid 1px #000000;
	border-radius: 6px;
}

.main-menu 	{
	list-style-type: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	background: #2849a4;
	font-size: inherit;
	font-family: 'Nunito', sans-serif;
	padding: 20px;
	justify-content: space-around;
}

.main-menu li	{
	display: block;
	text-align: center;
	font-size: 20px;
}

.main-menu a	{
	text-decoration: none;
	color: #ffffff;
	background: #2849a4;
	font-family: inherit;
}

.main-menu a:hover	{
	color: #C5C5C5;
	background: #2849a4;
}

#results	{
	color: #ffffff;
	margin-left: 40px;
	font-size: 16px;
}

.adjuster	{
	position: relative;
	padding-top: 50%;
	margin: 0px 15px;
}

.aside	 {
	background-color: #061a40;
}

.aside p	{
	display: block;
	margin: 0;
	padding: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}



/*--Bigger screen stuff--*/


@media only screen and (min-width: 600px)	{
	main	{ 
	width: 67%; 
	}
	
	aside	{ 
	width: 30%; 
	margin-left: 3%;
	}
	
	#container { 
	width: 100%;
	max-width: 900px; 
	}
}


